{% extends "base-site-fullscreen.html" %}

{% block title %} Error 500 {% endblock %} 

{% block content %}
        
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>
                Error 500
            </h4>
        </header>
        <div class="body text-center">

            <span>
                Server Error.
            </span>       
            
            <br />

            <div class="form-actions">
                <a class="forgot" href="/" >Home</a>
            </div>

        </div>

    </section>

{% endblock content %}
