<!-- light-blue - v4.0.1 - 2018-10-31 -->

<!DOCTYPE html>
<html>
<head>
  
    <title>
        Flask Dashboard Light Blue - {% block title %}{% endblock %} | AppSeed
    </title>

    <link href="/static/assets/css/application.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/assets/img/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    <div class="logo">
        <h4><a href="/">Light <strong>Blue</strong></a></h4>
    </div>

    {% include 'site_template/sidebar.html' %}

    <div class="wrap">

        {% include 'site_template/navigation.html' %}
        
        <div class="content container">

            {% block content %}{% endblock content %}

            {% include 'site_template/footer.html' %}

        </div>

        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>

    </div>

    {% include 'site_template/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
